<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <title>데모 과제</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <style>
        .container {
            max-width: 100%;
        }
    </style>
</head>
<nav th:fragment="nav" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        데모 과제
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" id="signup-li">
                <button class="nav-link btn btn-outline-primary" type="button" data-toggle="modal" data-target="#signupModal">
                    <i class="fa fa-plus" aria-hidden="true"></i> 가입하기
                </button>
            </li>
            &nbsp;&nbsp;
            <li class="nav-item">
                <div class="form-inline">
                    <input id="keyword" class="form-control mr-sm-2" name="keyword" type="search" placeholder="메뉴 검색 " aria-label="Search" />
                    <button id="search-button" type="button" class="btn btn-outline-primary" onclick="searchKeyword()"><i class="fa fa-search fa-lg"></i></button>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
                <button class="nav-link btn btn-outline-warning" data-toggle="modal" data-target="#cartModal" onclick="viewCart()">장바구니</button>
            </li>
            &nbsp;&nbsp;
            <li class="nav-item" id="order-li">
                <button class="nav-link btn btn-outline-danger" data-toggle="modal" data-target="#orderModal" onclick="viewOrders()">주문내역</button>
            </li>
            &nbsp;&nbsp;
            <li class="nav-item" id="payment-li">
                <button class="nav-link btn btn-outline-success" data-toggle="modal" data-target="#paymentModal" onclick="viewPayment()">결제내역</button>
            </li>
            &nbsp;&nbsp;
            <li class="nav-item" id="login-li">
                <button id="btn-login" class="nav-link btn btn-outline-secondary" data-toggle="modal" data-target="#loginModal">로그인</button>
            </li>
            <li class="nav-item" id="logout-li">
                <button id="btn-logout" class="nav-link btn btn-outline-secondary" type="button" onclick="logout()">로그아웃</button>
            </li>
        </ul>
    </div>
    <div class="modal" id="cartModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">장바구니</h1>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>상품명</th>
                            <th>더하기</th>
                            <th>수량</th>
                            <th>빼기</th>
                            <th>가격</th>
                            <th>삭제</th>
                        </tr>
                        </thead>
                        <tbody id="cart-table-body">

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="orderCartItems()">주문하기</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">계속 쇼핑하기</button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal" id="orderModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">주문내역</h1>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>주문시간</th>
                            <th>상품명(수량)</th>
                            <th>주문액</th>
                        </tr>
                        </thead>
                        <tbody id="order-table-body"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <h5><span id="totalOrderPrice"></span></h5>
                    <button type="button" class="btn btn-primary" onclick="paymentOrders()">결제하기</button>
                    <button type="button" class="btn btn-danger" onclick="cancelOrders()">주문취소</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="paymentModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">결제 내역</h1>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>결제일</th>
                            <th>결제액</th>
                        </tr>
                        </thead>
                        <tbody id="payment-table-body"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="loginModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">로그인</h1>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <form>
                            <div class="form-group">
                                <label for="login-nickname">닉네임</label>
                                <input type="text" class="form-control" id="login-nickname" >
                                <small id="login-idHelp" class="form-text text-muted">공백없이 문자와 숫자로만 3자 이상 10자 이내로 입력하세요. 일부 특수문자(_-) 사용 가능</small>
                            </div>
                            <div class="form-group">
                                <label for="login-password">패스워드</label>
                                <input type="password" class="form-control" id="login-password" aria-describedby="login-passwordHelp">
                                <small id="login-passwordHelp" class="form-text text-muted">공백없이 문자와 숫자로만 8자 이상 20자 이내로 입력하세요.</small>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="button" onclick="login()">로그인</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="signupModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">회원가입</h1>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <form>
                            <div class="form-group">
                                <label for="signup-nickname">닉네임</label>
                                <input type="text" class="form-control" id="signup-nickname" >
                                <small id="signup-idHelp" class="form-text text-muted">공백없이 문자와 숫자로만 3자 이상 10자 이내로 입력하세요. 일부 특수문자(_-) 사용 가능</small>
                            </div>
                            <div class="form-group">
                                <label for="signup-password">패스워드</label>
                                <input type="password" class="form-control" id="signup-password" aria-describedby="signup-passwordHelp">
                                <small id="signup-passwordHelp" class="form-text text-muted">공백없이 문자와 숫자로만 8자 이상 20자 이내로 입력하세요.</small>
                            </div>
                            <div class="form-group">
                                <label for="signup-passwordConfirm">패스워드 확인</label>
                                <input type="password" class="form-control" id="signup-passwordConfirm">
                                <small id="signup-passwordConfirmHelp" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <button type="button" class="form-control btn btn-primary" onclick="signUp()">회원 가입</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="fragments.html :: nav-script"></script>
</nav>
<footer th:fragment="footer">
    <div class="row justify-content-center">
        <small class="d-block mb-3 text-muted">&copy; github.com/seongbinko 2021</small>
    </div>
</footer>
<script type="application/javascript" th:inline="javascript" th:fragment="common-script">
    const ACCESS_TOKEN_KEY = "accessToken";
    function checkIsToken(tokenName) {
        if (getCookie(tokenName) == undefined) {
            return false;
        }
        return true;
    }

    function getCookie(tokenName) {
        return $.cookie(tokenName);
    }

    function createCookie(key, data, date) {
        $.cookie(key, data, {expires: date, path: '/'});
    }

    function removeCookie(tokenName) {
        $.removeCookie(tokenName, {path: '/'});
    }

    function createTokenExpiredTime() {
        let date = new Date();
        date.setTime(date.getTime() + 30*60*1000);
        return date;
    }
</script>
<script type="application/javascript" th:inline="javascript" th:fragment="nav-script">
    const INIT_CATEGORY_ID = 0;
    const INIT_KEYWORD = "";
    const CART_ITEMS_KEY = "key";

    $(document).ready(function () {

        if (checkIsToken(ACCESS_TOKEN_KEY)) {
            $('#login-li').hide();
            $('#signup-li').hide();
            $('#logout-li').show();
            $('#order-li').show();
            $('#payment-li').show();
        } else {
            $('#logout-li').hide();
            $('#order-li').hide();
            $('#payment-li').hide();
        }
        viewItems(INIT_CATEGORY_ID, INIT_KEYWORD);
    })


    function signUp() {

        const signUpForm = {
            "nickname": $("#signup-nickname").val(),
            "password": $("#signup-password").val(),
            "passwordConfirm" : $("#signup-passwordConfirm").val()
        }

        if(checkSignUpForm(signUpForm.nickname, signUpForm.password, signUpForm.passwordConfirm)) {
            $.ajax({
                type: "POST",
                url: "/api/auth/local/new",
                contentType: "application/json",
                data: JSON.stringify(signUpForm),
                success: function (response) {
                    alert('회원가입이 완료되었습니다.');
                    $("#signupModal").modal("hide");
                    $('#loginModal').modal('show');
                },
                error: function (response) {
                    alert("닉네임 혹은 패스워드를 확인해주세요")
                }
            })
        }
    }
    function login() {

        const loginForm = {
            "nickname": $("#login-nickname").val(),
            "password": $("#login-password").val()
        };
        if(checkLoginForm(loginForm.nickname, loginForm.password)) {
            $.ajax({
                type: "POST",
                url: "/api/auth/local",
                contentType: "application/json",
                data: JSON.stringify(loginForm),
                dataType: "json",
                success: function (response) {
                    createCookie(ACCESS_TOKEN_KEY, response.accessToken, createTokenExpiredTime());
                    window.location.href = "/";
                },
                error: function (response) {
                    alert("닉네임 혹은 비밀번호를 확인해주세요");
                }
            })
        }
    }
    function logout() {
        checkIsToken(ACCESS_TOKEN_KEY);
        removeCookie(ACCESS_TOKEN_KEY);
        window.location.href = "/"
    }
    function checkSignUpForm(nickname, password, passwordConfirm) {

        if (nickname == "") {
            alert("닉네임을 입력해주세요")
            $("#signup-nickname").focus()
            return false;
        }
        if (!validateNickname(nickname)) {
            $("#signup-idHelp").removeClass("text-muted").addClass("text-danger");
            $("#signup-nickname").focus()
            return false;
        }
        $("#signup-idHelp").removeClass("text-danger").addClass("text-muted");

        if (password == "") {
            alert("패스워드를 입력해주세요");
            $("#signup-password").focus()
            return false;
        }
        if (!validatePassword(password)) {
            $("#signup-passwordHelp").removeClass("text-muted").addClass("text-danger");
            $("#signup-password").focus()
            return false;
        }
        $("#signup-passwordHelp").removeClass("text-danger").addClass("text-muted");

        if (passwordConfirm == "") {
            alert("패스워드 확인을 입력해주세요");
            $("#passwordConfirm").focus()
            return false;
        }
        if (!validatePassword(passwordConfirm)) {
            $("#signup-passwordConfirmHelp").text("공백없이 문자와 숫자로만 8자 이상 20자 이내로 입력하세요.").removeClass("text-muted").addClass("text-danger");
            $("#signup-passwordConfirm").focus()
            return false;
        }
        $("#passwordConfirmHelp").text("").removeClass("text-danger").addClass("text-muted");

        return true;
    }
    function checkLoginForm(nickname, password) {

        if (nickname == "") {
            alert("닉네임을 입력해주세요")
            $("#login-nickname").focus()
            return false;
        }
        if (!validateNickname(nickname)) {
            $("#login-idHelp").removeClass("text-muted").addClass("text-danger");
            $("#login-nickname").focus()
            return false;
        }
        $("#login-idHelp").removeClass("text-danger").addClass("text-muted");

        if (password == "") {
            alert("패스워드를 입력해주세요");
            $("#login-password").focus()
            return false;
        }
        if (!validatePassword(password)) {
            $("#login-passwordHelp").removeClass("text-muted").addClass("text-danger");
            $("#login-password").focus()
            return false;
        }
        $("#login-passwordHelp").removeClass("text-danger").addClass("text-muted");

        return true;
    }
    function validateNickname(nickname) {
        const regExp = /^[ㄱ-ㅎ가-힣a-z0-9_-]{3,10}$/;
        return regExp.test(nickname);
    }
    function validatePassword(password) {
        const regExp = /^[a-zA-Z0-9]{8,20}$/;
        return regExp.test(password);
    }

    function searchKeyword() {
        $('#category-toggle li .nav-link').removeClass('active');

        viewItems(INIT_CATEGORY_ID, $("#keyword").val());

        $("#keyword").val(INIT_KEYWORD); // 검색결과가 Input에 남지 않게 초기화
    }

    function viewCart() {

        $("#cart-table-body").empty();

        if(!checkIsToken(CART_ITEMS_KEY)) {
            $("#cart-table-body").append(`<tr><td colspan="6">장바구니가 비었습니다.</td></tr>`);
            return false;
        }
        const cartItemsKey = getCookie(CART_ITEMS_KEY).split(',');
        $.each(cartItemsKey, function (index, itemId) {
            const cartItemInfo = getCookie(itemId).split(','); // id,품명,가격,수량

            const row = `<tr id="${itemId}">
                            <td>${cartItemInfo[1]}</td>
                            <td><button type="button" class="btn btn-info" onclick="calculateCartItems('plus', '${itemId}', ${parseInt(cartItemInfo[2])})">+</button></td>
                            <td id="${itemId}-count">${cartItemInfo[3]}</td>
                            <td><button type="button" class="btn btn-info" onclick="calculateCartItems('minus', '${itemId}', ${parseInt(cartItemInfo[2])} )">-</button></td>
                            <td><span id="${itemId}-price">${parseInt(cartItemInfo[2]) * parseInt(cartItemInfo[3])}</span>원</td>
                            <td><button type="button" class="btn btn-warning" onclick="deleteCartItem('${itemId}')">삭제</button></td>
                        </tr>`
            $("#cart-table-body").append(row);

        })

    }
    function calculateCartItems(type, itemId, eachPrice)  {
        const countId = '#' + itemId + '-count';
        const priceId = '#' + itemId + '-price';

        let countNumber = parseInt($(countId).text());
        if(type == 'plus') {
            if(9 === countNumber) {
                alert("수량은 9개 이하만 입력가능합니다.")
                return false;
            }
            countNumber += 1;
        } else if(type == 'minus')  {
            if(1 === countNumber) {
                alert("수량은 1개 미만일 수 없습니다.");
                return false;
            }
            countNumber -= 1;
        }

        $(countId).text(countNumber);
        $(priceId).text(countNumber * eachPrice);

        const cartItemInfo = getCookie(itemId).split(',');
        const cartItemInfoCookie = `${itemId},${cartItemInfo[1]},${cartItemInfo[2]},${countNumber}`;
        $.cookie(itemId, cartItemInfoCookie, {expires: createTokenExpiredTime(), path : '/'})
    }
    function deleteCartItem(itemId) {
        const itemTr = '#' + itemId;
        $(itemTr).remove();
        removeCookie(itemId);

        //  CART_ITEMS_KEY 최신화
        let itemsKey = getCookie(CART_ITEMS_KEY).split(',');
        if(itemsKey.length <= 1) {
            removeCookie(CART_ITEMS_KEY);
            $("#cart-table-body").append(`<tr><td colspan="6">장바구니가 비었습니다.</td></tr>`);

        } else {
            let newKey = "";
            $.each(itemsKey, function (index, itemKey) {
                if(itemKey != itemId) {
                    newKey += `${itemKey},`;
                }
            })
            newKey = newKey.replace(/,\s*$/, ""); // ',' 제거
            createCookie(CART_ITEMS_KEY, newKey, createTokenExpiredTime());
        }

    }
    function orderCartItems() {

        if(!checkIsToken(ACCESS_TOKEN_KEY)) {
            alert("로그인 후 주문이 가능합니다.");
            window.location.href = "/";
        }

        if(!checkIsToken(CART_ITEMS_KEY)) {
            alert("주문 할 상품이 없습니다.")
            return false;
        }

        const orderRequestDtos = [];
        const itemsKey = getCookie(CART_ITEMS_KEY).split(',');
        $.each(itemsKey, function (index, itemKey) {
            const eachItemInfo = getCookie(itemKey).split(',')
            const orderInfo = {
                itemId: eachItemInfo[0],
                orderItemPrice: eachItemInfo[2],
                orderItemCount: eachItemInfo[3]
            };
            orderRequestDtos.push(orderInfo);
        })


        $.ajax({
            type: "POST",
            url: "/api/orders",
            headers: {
                "Authorization": "Bearer " + getCookie(ACCESS_TOKEN_KEY)
            },
            contentType: "application/json",
            data: JSON.stringify(orderRequestDtos),
            dataType: "json",
            success: function () {
                alert('주문이 완료되었습니다.');
                $("#cartModal").modal("hide");

                $.each($.cookie(), function(key) {
                    if(key != ACCESS_TOKEN_KEY) {
                        removeCookie(key);
                    }
                })
            },
            error: function () {
                alert("주문하는 도중 오류가 발생하였습니다.")
            }
        })
    }


    let orderStatus = false;
    function viewOrders() {

        if(!checkIsToken(ACCESS_TOKEN_KEY)) {
            alert("로그인 후 조회가 가능합니다.");
            window.location.href = "/";
        }
        $("#order-table-body").empty();
        $('#totalOrderPrice').empty();

        $.ajax({
            type: "GET",
            url: "/api/orders",
            headers: {
                "Authorization": "Bearer " + getCookie(ACCESS_TOKEN_KEY)
            },
            dataType: "json",
            success: function (orders) {

                if(orders.length == 0) {
                    let row = `<tr><td colspan="4" id="empty-orders">주문 내역이 없습니다.</td></tr>`
                    $("#order-table-body").append(row);
                    orderStatus = false;
                    return false;
                }
                orderStatus = true;
                let totalPrice = 0
                $.each(orders, function(index, order) {
                    let row = `<tr>
                                        <td>${order.createdAt}</td> <td>`

                    $.each(order.orderItemResponseDtos, function(index, orderItem) {
                        row += `
                                           ${orderItem.name}(${orderItem.count}개)<br/>
                        `;
                    })
                    row += `</td><td>${order.orderPrice}원</td></tr>`;

                    $("#order-table-body").append(row);
                    totalPrice += order.orderPrice;
                })
                $('#totalOrderPrice').text('총 주문액: ' + totalPrice + '원');
            },
            error: function (response) {
                console.log(response)
                alert("주문내역 조회중 오류가 발생하였습니다.")
                $("#order-li").hide();
            }
        })
    }
    function cancelOrders() {

        if(!checkIsToken(ACCESS_TOKEN_KEY)) {
            alert("로그인 후 주문이 가능합니다.");
            window.location.href = "/";
        }

        if(!orderStatus) {
            alert("취소할 내역이 없습니다");
            return false;
        }

        if(!confirm("주문을 취소하시겠습니까?")) {
            return false;
        }

        $.ajax({
            type: "DELETE",
            url: "/api/orders",
            headers: {
                "Authorization": "Bearer " + getCookie(ACCESS_TOKEN_KEY)
            },
            success: function () {
                alert("주문이 취소되었습니다.");
                $("#orderModal").modal("hide");

            },
            error: function () {
                alert("주문취소 도중 오류가 발생하였습니다.")
            }
        })
    }
    function paymentOrders() {

        if(!checkIsToken(ACCESS_TOKEN_KEY)) {
            alert("로그인 후 결제가 가능합니다.");
            window.location.href = "/";
        }
        if($('#empty-orders').text().length > 0) {
            alert('결제할 내역이 존재하지 않습니다.')
            return false;
        }

        if(!confirm("결제 하시겠습니까?")) {
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/api/payment",
            headers: {
                "Authorization": "Bearer " + getCookie(ACCESS_TOKEN_KEY)
            },
            success: function () {
                alert("결제가 완료되었습니다.")
                $("#orderModal").modal("hide");
            },
            error: function () {
                alert("결제 중 오류가 발생하였습니다.")
            }
        })
    }

    function viewPayment() {

        if(!checkIsToken(ACCESS_TOKEN_KEY)) {
            alert("로그인 후 조회가 가능합니다.");
            window.location.href = "/";
        }

        $("#payment-table-body").empty();

        $.ajax({
            type: "GET",
            url: "/api/payment",
            headers: {
                "Authorization": "Bearer " + getCookie(ACCESS_TOKEN_KEY)
            },
            success: function (payment) {

                if(payment.length == 0) {
                    $("#payment-table-body").append(`<tr><td colspan="2">결제 내역이 존재하지 않습니다.</td></tr>`);
                    return false;
                }
                const row = `<tr>
                                <td>${payment.createdAt}</td>
                                <td>${payment.totalPrice}원</td>
                            </tr>`
                $("#payment-table-body").append(row);
            },
            error: function () {
                alert("결제 내역 조회중 오류가 발생하였습니다.");
            }
        })
    }

</script>
<script type="application/javascript" th:inline="javascript" th:fragment="main-script">

    function viewItems(categoryId, keyword) {
        $.ajax({
            type: "GET",
            url: "/api/items",
            data: {
                categoryId: categoryId,
                keyword: $.trim(keyword)
            },
            success: function (items) {
                $('#empty-item').empty();
                $('#item-list').empty();

                if(items.length == 0) {
                    $("#empty-item").append(`<p class="text-center">${keyword}에 해당하는 검색 결과가 존재하지 않습니다.</p>`);
                } else {
                    $.each(items, function (index, item) {
                        const itemCard = `<div class="col-sm-3 d-flex align-items-stretch" >
                                        <div class="card">
                                            <div class="card-header"></div>
                                            <img class="card-img-top" src="${item.imgUrl}" style="width: 100%; height: 15vw; object-fit: cover;"/>
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <button type="button" class="btn btn-warning"
                                                      data-itemId="${item.id}" data-name="${item.name}" data-price="${item.price}"
                                                      onclick="addCart('${item.id}','${item.name}','${item.price}')"
                                                    >장바구니+</button>
                                                    &nbsp;&nbsp;
                                                    ${item.name}&nbsp;&nbsp;<span>${item.price}원</span>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                    `
                        $("#item-list").append(itemCard);
                    })
                }
            },
            error: function (response) {
                alert("검색 조건을 확인해주세요")
            }
        })
    }

    function addCart(itemId, name, price) {
        const date = createTokenExpiredTime();

        if (checkIsToken(itemId)) {
            let count = parseInt(getCookie(itemId).split(',')[3]);
            if (count == 9) {
                alert("수량은 9개 이하만 입력가능합니다.");
                return false;
            }
            count ++;
            const cartInfo = `${itemId},${name},${price},${count}`
            createCookie(itemId,cartInfo,date);

        } else {
            // id,품명,가격,수량
            const cartInfo = `${itemId},${name},${price},1`;
            createCookie(itemId, cartInfo, date);

            // 키가 존재하면 키를 붙이고 아니면 새로만들기
            if(checkIsToken(CART_ITEMS_KEY)) {
                const newKey = getCookie(CART_ITEMS_KEY) + `,${itemId}`
                createCookie(CART_ITEMS_KEY,newKey,date);
            } else {
                createCookie(CART_ITEMS_KEY,itemId,date);
            }
        }
        alert("장바구니에 추가되었습니다.");
    }
</script>

</html>